Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
*.uprojectdirs
.vs/
*.suo
*.user
*.userprefs
*.vcxproj.user
*.vcxproj.filters
*.VC.db
*.VC.opendb
.idea/
*.sln.iml
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db
*.apk
*.ipa
*.app

Content/*

!Content/Blueprints/
!Content/Blueprints/**

!Content/Data/
!Content/Data/**

!Content/UI/
!Content/UI/**

!Content/AI/
!Content/AI/**

!Content/Assets/
!Content/Assets/**

!Content/Maps/
!Content/Maps/**